{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Fontawesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <!-- Style CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <nav class="navbar navbar-default navbar-collapse">
        <div class="container">
        <div><a href="/"><span class="navbar-text navbar-left"><h2><i class="far fa-newspaper fa-sm"></i> RSN News</h2></span></a></div>

            {% if not user.is_authenticated %}
                <a href="{% url 'sign_up' %}" class="navbar-text navbar-brand navbar-right"><span class="btn btn-default"><i class="fas fa-user-plus"></i> Sign Up</span></a>
                <a href="{% url 'sign_in' %}" class="navbar-text navbar-brand navbar-right"><span class="btn btn-default"><i class="fas fa-sign-in-alt"></i> Sign In</span></a>
            {% else %}
                <a href="{% url 'sign_out' %}" class="navbar-text navbar-brand navbar-right"><span class="btn btn-default"><i class="fas fa-sign-out-alt"></i> Sign Out</span></a>
                <a href="{% url 'post_new' %}" class="navbar-text navbar-brand navbar-right"><span class="btn btn-default"><i class="fas fa-pencil-alt"></i> New Post</span></a>
                <a href="{% url 'profile' %}" class="navbar-text navbar-brand navbar-right"><span class="btn btn-default"><i class="fas fa-user"></i> My Profile</span></a>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>