{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Fontawesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>
<body>
    <nav class="navbar navbar-default navbar-collapse">
        <div class="container">
            <div><a href="/"><span class="navbar-text navbar-left"><h2><i class="far fa-newspaper fa-sm"></i> RSN News</h2></span></a></div>
            <div class="navbar-text navbar-brand navbar-right"><span class="btn btn-default"><i class="fas fa-sign-in-alt"></i> Log In</span></div>
            <div class="navbar-text navbar-brand navbar-right"><span class="btn btn-default"><i class="fas fa-user-plus"></i> Log Up</span></div>
        </div>
    </nav>

    <div class="container">
        <div class="row" style="margin-top: 50px;">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>