{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron col-md-12">
        <div class="post_block">
            <div class="col-md-12 text-Left">
                <span><h1 class="alt-h0 text-white lh-condensed-ultra mb-3">About Developer:</h1></span>
            </div>
        </div>

        <div class="col-md-12 text-center">
            <h2><span>A Roman Synovets Production</span></h2><br><br>
            <h3 class="alt-h0 text-white lh-condensed-ultra mb-3">#JoinMe</h3>
            <div class="abouted">
                <a href="http://github.com/HVLLOWe3n" title="GitHub (HVLLOWe3n)"><i class="fab fa-github fa-3x" style="color:Purple"></i> &#160 &#160</a>
                <a href="https://twitter.com/HVLLOWe3n" title="Twitter (HVLLOWe3n)"><i class="fab fa-twitter fa-3x" style="color: #5897fb"></i> &#160 &#160</a>
                <a href="https://www.facebook.com/HVLLOWe3n" title="Facebook (HVLLOWe3n)"><i class="fab fa-facebook fa-3x" style="color: blue"></i> &#160 &#160</a>
            </div>
            <br><br><br><br><br><br>
            <p><span>All rights reserved ©2018</span></p>
        </div>
    </div>
{% endblock %}