/*.btn, btn-default {*/
    /*height:35px;*/
    /*width:120px;*/
/*}*/

.post-form textarea, .post-form input {
    width: 100%;
}

a {
    text-decoration: none;
}

.abouted {
 display:inline-block;
}
